* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    font-size: 16px;
}

.food__container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}

.food__container img {

    width: 100%;
    height: 100%;

}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    justify-content: space-around;
}

.forms {
    text-align: center;
    margin: 4%;
}

h3 {
    font-size: 16px;
}