* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

.food__container {
    display: flex;
    flex-direction: column;
    width: 270px;
    /* height: fit-content; */
    margin-bottom: 1%;
    white-space: pre-wrap;
    border: 1px dashed #ffc054;
    padding: 3%;
    border-radius: 5px;
    /* background-color: #eee; */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.food__container img {

    width: 100%;
    height: 50%;


}

.content {
    /* display: flex; */
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    column-count: 4;
    grid-column-gap: 1em;
    column-gap: 1em;
}

.forms {
    text-align: center;
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

h3 {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 10px;
    padding: 4%
}

button,
input {
    padding: 4px;
    width: 15%;
    height: 100%;
}

button {
    border: 1px solid #ff070742;
    background-color: #ffc054;
    color: #fff;
    outline: none;
    box-shadow: 0 0 2px rgb(236, 137, 57);

}

input {
    outline: none;
    width: 40%;
    border: 1px solid #ec8939;
    text-align: center;
    color: #ffa202;
}

input[type=text]:focus,
textarea:focus,
button:focus {
    box-shadow: 0 0 5px rgb(236, 137, 57);
    /* padding: 3px 0px 3px 3px; */
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgb(255, 188, 45);
}
.link{
    height: 10%;
    width: 90%;
}